{
  "presets": ["react", "stage-1"],
  "env": {
    "development": {
      "presets": ["env", "react-hmre"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": "./tools/aliases.js"
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 9,
              "uglify": true
            }
          }
        ]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": "./tools/aliases.js"
          }
        ]
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": "./tools/aliases.js"
          }
        ]
      ]
    }
  }
}
